.main {
  display: flex;
  position: absolute;
  color: var(--font-color);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: inherit !important;
  min-height: 96vh;
}

.tech_hover {
  transition: all 0.1s;
}

.tech_hover:hover {
  transform: scale(1.1);
}
